@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');

.clear {
  clear:both;
}

.footer-text {
 	font-family: 'Raleway', sans-serif;
	color: #5D5E5E;
	font-style: italic;
	text-align: right;
	font-size: 13px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.footer-links a {
	color: #19bdc9;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 55px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
}


h2 {
  font-family: 'Raleway', sans-serif;
}

header {
  border-top: 9px solid #222222;
}

.headline_font_size {
  font-size: 24px;
}

hr {
  clear:both;
}

.links {
	padding-top: 40px;
  padding-right: 50px;
  text-align: right;
  }

.links a {
	color: #5D5E5E;
	font-size: 15px;
	border-bottom: 1px solid #dfdfdf;
	font-family: 'Raleway', sans-serif;
}

.logo {
  font-family: 'Raleway', sans-serif;
  padding-top: 33px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 33px;
  color: #19bdc9;
}

.logo:hover {
  text-decoration:none;
}

.slogan {
  font-family: 'Raleway', sans-serif;
  padding-top: 33px;
  font-size: 30px;
  font-weight: bold;
  color: #5D5E5E;
}

.wisdom-number {
  color: #5D5E5E;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
